/**
 * Site header
 */
.site-header {
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 56px;
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-header::before {
    content: '';
    position: absolute;
    width: 100%;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    color: #444;
}

.site-nav {
    float: right;
    line-height: 56px;


    .page-link {
        color: #444;
    }
    .page-link {
        display: block;
        padding: 5px 10px;
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    font-family: 'Source Sans Pro', sans-serif;
    color: #373737;
    max-width: 540px;
    padding: 0px 10px;
    margin: 0 auto;
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    font-family: 'Open Sans', sans-serif;
    color: #373737;
    margin-bottom: $spacing-unit;

    p {
        max-width: 540px;
        padding: 0px 10px;
        margin: 0 auto;
        line-height: 26px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 32px;
        font-family: 'Source Sans Pro', sans-serif;

        @include media-query($on-laptop) {
            font-size: 28px;
        }

        max-width: 540px;
        padding: 0px 10px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 26px;
        font-family: 'Source Sans Pro', sans-serif;

        @include media-query($on-laptop) {
            font-size: 22px;
        }

        max-width: 540px;
        padding: 0px 10px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 20px;
        font-family: 'Source Sans Pro', sans-serif;

        @include media-query($on-laptop) {
            font-size: 18px;
        }

        max-width: 540px;
        padding: 0px 10px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .highlight {
        font-family: Consolas;
        color: #333;
        z-index: -1;
        background: #fafafd;
        border: 0.063em solid #dedede;
        border-right: 0em solid #fff;
        line-height: 1.5em;
        padding-top: 1em;
        padding-bottom: 1em;
        left: 0;
        right: 0;
        margin: 20px 0px;
    }

    ul {
        max-width: 540px;
        padding: 0 10px;
        padding-left: 40px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

/**
 * Home
 */
.home {
    max-width: 540px;
    margin: 0 auto;
    padding: 0 10px;
}

.home  a {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    color: #444;
    padding: 10px;
}

.home a:hover {
    background: #fafafd;
    outline:  1px solid #C3D5E4;
}

.home  a::before {
    width: 0;
}

.home .post-meta {
    text-align: right;
}

.cover {
    color: rgb(241, 241, 241);
    height: 100%;
    background: url('http://lakto.org/assets/img/cover.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/**
 * clock css
 */
.seconds {
    width: 40px;
    height: 40px;
    top: 280px;
    left: 280px;
    position: absolute;
    text-align: center;
    line-height: 40px;
    font-size: 18pt;
    border-radius: 50%;
    background-color: rgba(81, 81, 81, 0.2);
}

.minutes {
    width: 100px;
    height: 100px;
    top: 250px;
    left: 250px;
    position: absolute;
    text-align: center;
    line-height: 100px;
    font-size: 52pt;
    border-radius: 50%;
    background-color: rgba(126, 126, 126, 0.7);
}

.hours {
    width: 300px;
    height: 300px;
    top: 150px;
    left: 150px;
    position: absolute;
    text-align: center;
    line-height: 280px;
    font-size: 133pt;
    border-radius: 50%;
    background-color: rgba(181, 181, 181, 0.4);
}

.site-name {
    max-width: 940px;
    padding: 0 10px;
    margin: 0 auto;
    text-align: right;
    position: relative;
    height: 100%;
}

.site-name__inner {
    position: absolute;
    top: 150px;
    width: 100%;
    right: 0;
    width: 400px;
}

.site-name__inner .name {
    font-size: 100px;
    font-family: 'Source Sans Pro', sans-serif;
}

.site-name__inner .desc {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.site-name__inner .btn {
    padding: 10px 30px;
    border: 2px solid #fff;
    display: inline-block;
    margin-top: 100px;
    border-radius: 3px;
    cursor: pointer;
}


