/**
 * Site header
 */
.site-header {
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 56px;
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-header::before {
    content: '';
    position: absolute;
    width: 100%;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    color: #444;
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: #444;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    font-family: 'Source Sans Pro', sans-serif;
    color: #373737;
    max-width: 540px;
    padding: 0px 10px;
    margin: 0 auto;
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    font-family: 'Open Sans', sans-serif;
    color: #373737;
    margin-bottom: $spacing-unit;

    p {
        max-width: 540px;
        padding: 0px 10px;
        margin: 0 auto;
        line-height: 26px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 32px;
        font-family: 'Source Sans Pro', sans-serif;

        @include media-query($on-laptop) {
            font-size: 28px;
        }

        max-width: 540px;
        padding: 0px 10px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 26px;
        font-family: 'Source Sans Pro', sans-serif;

        @include media-query($on-laptop) {
            font-size: 22px;
        }

        max-width: 540px;
        padding: 0px 10px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 20px;
        font-family: 'Source Sans Pro', sans-serif;

        @include media-query($on-laptop) {
            font-size: 18px;
        }

        max-width: 540px;
        padding: 0px 10px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .highlight {
        font-family: Consolas;
        color: #333;
        z-index: -1;
        background: #fafafd;
        border: 0.063em solid #dedede;
        border-right: 0em solid #fff;
        line-height: 1.5em;
        padding-top: 1em;
        padding-bottom: 1em;
        left: 0;
        right: 0;
        margin: 20px 0px;
    }

    ul {
        max-width: 540px;
        padding: 0 10px;
        padding-left: 40px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

/**
 * Home
 */
.home {
    max-width: 540px;
    margin: 0 auto;
    padding: 0 10px;
}

.home  a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    color: #444;
    padding: 10px;
}

.home a:hover {
    background: #fafafd;
    outline: 1px solid #dedede;
}

.home  a::before {
    width: 0;
}

.home .post-meta {
    text-align: right;
}


